@import "../../shared/variables.scss";

.theme-paper { 
    background-color: $theme-secondary;
    min-width: 50%;
    overflow: hidden;
}

.theme-table-header-row { 
    color: $theme-text;
    background-color: $theme-background;
}

.theme-table-header-cell { 
    color: inherit !important;
    font-weight: bold !important;
    background-color: inherit !important;
    border-bottom-color: $theme-primary !important;
}

.theme-table-body {
    color: $theme-text;
    background-color: $theme-primary;
}
.theme-table-row {
     color: $theme-text;
     background-color: $theme-secondary;
}

.theme-table-cell { 
    color: inherit !important;
    background-color: inherit !important;
    border-bottom-color: $theme-primary !important;
}

.theme-rows-per-page-list {  
    background-color: $theme-secondary;
}
   
